// Componentes

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.plus-margin-top {
	margin-top: 20px;
}

.zero-margin-top {
	margin-top: 0;
}

.zero-margin-bottom {
	margin-bottom: 0;
}