<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="header-brand pull-left">
        <a href="#" alt="Transvias logotipo">Transvias</a>
      </h1>
      <form ng-controller="SearchCtrl">
        <div class="header-search" ng-class="searchwidth">
          <div class="input-group hidden-xs">
            <input type="text" class="form-control" ng-focus="searchClassIn()" ng-blur="searchClassOut()">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
          <a href="#" class="btn btn-default visible-xs">
            <span class="glyphicon glyphicon-search"></span>
          </a>
        </div>
      </form>
      <div class="header-login pull-right">
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#loginModal">
          <span class="glyphicon glyphicon-user"></span>
          <span class="hidden-xs">Entrar</span>
        </a>
        <a href="#" class="btn btn-default hidden-xs">
          <span class="glyphicon glyphicon-pencil"></span>
          <span class="hidden-xs">Cadastre-se</span>
        </a>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#Origem">Origem e destino</a></li>
        <li><a href="#Empresas">Empresas</a></li>
        <li><a href="#Distancia">Distânca quilométrica</a></li>
        <li><a href="#Produtos">Produtos e serviços</a></li>
        <li><a href="#Cargas">Cargas especiais</a></li>
        <li><a href="#Noticias">Notícias</a></li>
        <li><a href="#Empregos">Empregos</a></li>
        <li><a href="#Transfretes">Transfretes</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Fixed navbar - End -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-9">
      <div class="jumbotron">
        <h1>Olá equipe do Transvias!</h1>
        <p>Este protótipo visa traduzir as wireframes já produzidas afim de avaliarmos a usabilidade do novo site e posteriormente aplicarmos design à todos os elementos.</p>
        <p>
          <small>Por gentileza, testem a visualização desta página em diversos tipos de dispositivos.</small>
        </p>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
    <div class="col-xs-12 col-lg-3 well text-center">
      <img src="http://placehold.it/200x600/FFF/333">
    </div>
  </div><!--/span-->
</div><!--/row-->


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Entrar</h4>
      </div>
      <div class="modal-body">
      	<form role="form">
      		<div class="row">
      			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div class="form-group">
		      			<label for="exampleInputEmail1" class="sr-only">E-mail</label>
		      			<input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Digite seu e-mail">
		      		</div>
		      		<div class="form-group">
		      			<label for="exampleInputPassword1" class="sr-only">Senha</label>
		      			<input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Digite sua senha">
		      		</div>
      				<button type="submit" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#accountSelectionModal" data-dismiss="modal">Entrar</button>
		      		<div class="checkbox">
						    <label>
						      <input type="checkbox"> lembrar senha
						    </label>
						    <a href="#" class="pull-right">esqueci a senha</a>
						  </div>
						  <hr class="zero-margin-top">
						  <div class="text-center">
				      	<h4>Não é cadastrado?</h4>
				      	<small>Cote o transporte da sua carga com mais de 2 mil transportadoras. Serviços, produtos e muito mais!</small>
			      		<a href="#" class="btn btn-info btn-block plus-margin-top">
			      			Cadastre-se gratuitamente!
			      		</a>
				    	</div>
      			</div>
      		</div>
      	</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Login Modal - End -->

<!-- Seleção de Conta Modal -->
<div class="modal fade" id="accountSelectionModal" tabindex="-1" role="dialog" aria-labelledby="accountSelectionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Entrar</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="row">
                <div class="col-xs-12 plus-margin-bottom">
                  <h4 class="text-center">Por favor, selecione um tipo de conta:</h4>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <button type="submit" class="btn btn-info btn-lg btn-block plus-margin-bottom" data-dismiss="modal">Conta Usuário</button>
                  <p class="text-center"><small><span class="glyphicon glyphicon-question-sign"></span> Se você deseja utilizar o portal Transvias para <strong>efetuar cotações</strong> com transportadoras e acessar outros serviços.</small></p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <button type="submit" class="btn btn-warning btn-lg btn-block plus-margin-bottom" data-dismiss="modal">Conta Anunciante</button>
                  <p class="text-center"><small><span class="glyphicon glyphicon-question-sign"></span> Se você é uma transportadora ou um fornecedor anunciante do portal Transvias e deseja <strong>gerenciar cotações</strong>.</small></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Seleção de Conta - End -->